/* Reset de margens e preenchimentos */
:root {
  --primary-purple: #4f375d;
  --primary-yellow: #fdd861;
  --danger-red: #dc2626;
  --bg-light: #f9fafb;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
}

body {
  background: #fff;
  color: #111;
  line-height: 1.6;
}

section {
  padding: 60px 0;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

h1, h2, h3 {
  color: var(--primary-purple);
}

h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 900;
  margin-bottom: 20px;
}

h2 {
  font-size: clamp(1.5rem, 4vw, 2.2rem);
  margin-bottom: 20px;
}

p {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.text-center { text-align: center; }

.btn-cta {
  display: inline-block;
  padding: 18px 40px;
  background: var(--primary-yellow);
  color: #000;
  font-weight: 800;
  border-radius: 50px;
  text-decoration: none;
}

.btn-cta:hover {
  transform: scale(1.05);
}

.hero {
  background: var(--bg-light);
}

.hero {
  height: 700px;
  display: flex;
  align-items: center;

  background-image:
    linear-gradient(rgba(58,15,92,0.98), rgba(58,15,92,0.98)),
    url("imagem/banner-google-meu-negocio\ .jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--bg-light);
}

.hero h1,span{
  
  color: var(--bg-light);
}
.split-section,
.before-after {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.pain-grid,
.benefit-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 40px 0;
}

.pain-card,
.benefit-card,
.faq-card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 24px;
  padding: 30px;
}

.split-image img {
  width: 100%;
  max-height: 400px;
  border-radius: 24px;
  object-fit: cover;
}

.highlight-danger {
  color: var(--danger-red);
  font-weight: 900;
  font-size: 1.3rem;
}

.pain-section {
  background: var(--primary-purple);
}

.white-text { color: #fff; }
.yellow-text { color: var(--primary-yellow); }
.danger-text { color: var(--primary-yellow); }
.success-text { color: #10b981; }

.big-text {
  font-size: 1.5rem;
  font-weight: 900;
}

.bigger-text {
  font-size: 1.8rem;
  font-weight: 900;
}

.before {
  border-left: 8px solid var(--danger-red);
}

.after {
  border-left: 8px solid #10b981;
}

.light-bg {
  background: var(--bg-light);
  
}
#ante{
  color: var(--danger-red);
  
}
.benefit-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
#botao-ante-depois{
  margin-top: 20px;
  display: block;
  width: 50%;
  text-align: center;
}

@media (max-width: 768px) {
  .slit-section,
  .pain-grid,
  .benefit-grid,
  .before-after {
    grid-template-columns: 1fr;
  }
}
