/* Reset de margens e preenchimentos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

/* Cabeçalho */
header {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

header .logo h1 {
  text-align: center;
  font-size: 2.5em;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
}

/* Seções */
section {
  padding: 50px;
  text-align: center;
}

section#home {
  background-color: #e3e3e3;
}

section#sobre {
  background-color: #d1d1d1;
}

section#contato {
  background-color: #c1c1c1;
}

/* Rodapé */
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}
